body {
  margin: 0;
  padding: 0;
}

/* Colors Variables */
:root {
  --mainColor: #ffd600;
  --BoxColor: #d9d9d9;
  --BtSearch: #000;
  --BtClear: #f30808;
  --BtSave: #58a942;
  --BtShare: #11fcfc;
  --BtDownload: #fcd611;
  --BtNavbar: #fff;
}

/* Font variables */

:root {
  --font1 : 'Montserrat', sans-serif;
  --font2 : 'Poppins', sans-serif;
}

.logo {
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #000;
}
.navbarColor {
  background-color: var(--mainColor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: var(--font1);
}

.box-font, .result-font {
  font-family: var(--font2);
}

.selection-bg {
  background-color: var(--BoxColor);
}

.bg-search {
  background-color: var(--BtSearch) !important;
  text-decoration: none !important;
  color: #fff !important;
  font-family: var(--font2);
}
.bg-clear {
  background-color: var(--BtClear) !important;
  text-decoration: none !important;
  color: #fff !important;
  font-family: var(--font2);

}
.bg-save {
  background-color: var(--BtSave) !important;
  text-decoration: none !important;
  color: #fff !important;
  margin-left: 50px !important;
  font-family: var(--font2);

}
.bg-share {
  background-color: var(--BtShare) !important;
  text-decoration: none !important;
  color: #000 !important;
  font-family: var(--font2);

}
.bg-download {
  background-color: var(--BtDownload) !important;
  text-decoration: none !important;
  color: #000 !important;
  font-family: var(--font2);

}

.bt-navbar {
  background-color: var(--BtNavbar) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

/* Login changes */

.login-hl {
  color:#0066FE !important;
 
}
.login-button {
  border-radius: 8px !important;
  background-color: var(--mainColor) !important;
}
.login-button:hover {
  background-color: #f7f330 !important;
}
.dashboard-space {
  margin-top: 120px !important;
}
.login-space {
  margin-top: 70px !important;
}
.signUp-font {
  font-family: var(--font1) !important;
}

.signUp-button {
  border-radius: 0 !important;
  background-color: var(--mainColor) !important;
  margin: 30px 0 0 0!important;
}


/* Team and About */
.font1 {
  font-family: var(--font1) !important;
}
.font2 {
  font-family: var(--font2) !important;
}

.members {
  margin: 50px 0 40px 0px !important;
}

.img-team {
  width: 250px !important;
  height: 250px !important;
  margin-top: 5px !important;
  margin-bottom: -3px !important;
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
  border: 2px solid black !important;
}

.team-btn {
  background-color: #fff;
  border: none;
  margin: 20px;
}

.github {
  width: 32px;
  height: 32px;
  margin-top: 0px;
  padding:2px;

}

.team-description {
  font-size: 24px;
  color: white;
  text-align: center;
  
}

.team-btn p {
  background-color: var(--mainColor);
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  border: 2px solid black;
  color: black;
  font-family: var(--font1) !important;
}



.input-with-icon {
  position: relative;
  display: inline-block;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 52px;
  width: 8%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon2 {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 6%;
  transform: translateY(-50%);
  cursor: pointer;
}
/* Profile UI */

.settings {
  text-align: right !important;
}

.bg-profile {
  background-color: rgba(255, 214, 0, 0.46);
}
.profile-img {
  margin: -40px;
  padding: 10px;
}
.infos-profile{
  text-align: left !important;
  
}

.edit-photo {
  padding: 80px;
}

/* Search Saves */

.bg1 {
  background-color: #274143 !important;
}
.bg2 {
  background-color: #BB3F18 !important;
}
.bg3 {
  background-color: #261739 !important;
}
.bg4 {
  background-color: #2C6B86 !important;
}
.bg5 {
  background-color: #8A5F0C !important;
}

/* write report */

.write-report {
  padding: 20px !important;
  margin-top: -26px !important;
}
